.content {
  max-width: 1230px;
  margin: 0 auto;
}

.content__title {
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  color: #8C7F74;
  text-align: center;
}

.content-item {
  width: 85%;
  margin: 0 auto;
}

.search-form{
  width:100%;
  display:flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
}
/* 名前＆メールアドレス */
.search-form__input{
  width: 300px;
  height: 35px;
  font-size: 12px;
  color: #8C7F74;
  border: 1px solid #8C7F74;
  padding: 0 10px;
}

/* 性別 */
.search-form__gender-select{
  width:80px;
  height: 35px;
  color: #8C7F74;
  background: #EFEFEF;
  border: 1px solid #8C7F74;
  padding: 0 10px;
}

/* お問い合わせの種類 */
.search-form__category-select{
  width: 200px;
  height: 35px;
  color: #8C7F74;
  background: #EFEFEF;
  border: 1px solid #8C7F74;
  padding: 0 10px;
}

.search-created-input{
  width: 150px;
  height: 35px;
  color: #8C7F74;
  background: #EFEFEF;
  color: #8C7F74;
  border: 1px solid #8C7F74;
}

/* ボタン */
.search-form__button {
  display: flex;
  gap: 20px;
}
.search-form__button-search{
  background: #8C7F74;
  color: white;
  border: none;
  width: 80px;
  height: 35px;
}

.search-form__button-reset{
  background: #D8C5B4;
  color: white;
  border: none;
  width: 80px;
  height: 35px;
}

/* エクスポート＆ページネーション */
.export-pagenation {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;

}

.button__export {
  color: #8C7F74;
  background: #EFEFEF;
  border: 1px solid #8C7F74;
  width: 120px;
  height: 35px;
}
/* .pagenation{
  right: 15px;

} */


.contact-list {
  width: 100%;
  margin-bottom:30px;

}


.contact-list__tr{
  border: 1px solid #eee;
}

.contact-list__tr:hover {
  background: #F5F2EF;
}

.contact-list__header{
  background: #8C7F74;
  color: white;
  height: 50px;
  padding: 10px 35px;
  text-align: left;
}
.contact-list__td {
  height: 60px;
  padding: 10px 35px;
  color: #8C7F74;
  font-size: 14px;
}
/* 詳細ボタン */
.button_content-detail{
  background: #EFEFEF;
  color: #8C7F74;
  padding: 5px 20px;
  border: 1px solid #8C7F74;
}





/* モーダル全体（最初は非表示） */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
}

/* :target が当たったときだけ表示 */
.modal:target {
  display: flex;
}

.modal-content {
  background: #fff;
  padding: 40px;
  width: 60%;
  max-width: 700px;
  position: relative;
  color: #8C7F74;
  border: 1px solid #8C7F74;
  box-shadow: 2px 2px 1px #8C7F74;
}

/* × ボタン */
.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 32px;
  height: 32px;
  border: 1px solid #8C7F74;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  color: #8C7F74;
  cursor: pointer;
}

.modal-table__header{
  width:25%;
  text-align: left;
  height:80px;
}

.contact-delete {
  width: 100%;
  display: flex;
  justify-content: center;
  /* 横方向の中央寄せ */
  margin-top: 30px;
}

.delete-btn {
  width: 80px;
  height: 35px;
  background: rgb(206, 48, 48);
  color: #fff;
  border: none;
  cursor: pointer;
}